{% extends 'temps/base.html'%}
{%block content%}
<style>
    .container{
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}
.header-centre > input{
    border-radius: 10px;
    border-style: none;
    background-color: rgb(236, 229, 229);
    outline: none;
}
.header-right{
    margin-right: 10px;
}
#icon{
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
/* .posts{
    
    flex: 0.7;
} */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    margin-left: 3px;
    border: 2px solid red;
    cursor: pointer;
  }
  .avatar > i{
    display: flex;
    color:rgb(0, 81, 255);
    cursor: pointer;
    justify-content: flex-end;
  }
 .icons{
    font-size: 20px;
    cursor: pointer;
 }
 #icon:hover{
     color: rgb(255, 0, 0);
 }
 .comment > input{
     border: none !important;
     outline: none;
 }
 .comment > h6{
    display: flex;
    color:rgb(0, 81, 255);
    cursor: pointer;
    justify-content: flex-end;
 }
 .comment{
    display: flex;
    align-items: center
 }
</style>
<div class="contaier">
  
    <hr>
    <div class="posts">
        <div class="row p-5">
            <div class="col-md-9 p-2">
                <div class="card car-body">
                    <div class="avatar mt-4">
                        <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?b=1&k=20&m=1291208214&s=170667a&w=0&h=sAq9SonSuefj3d4WKy4KzJvUiLERXge9VgZO-oqKUOo=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/african-mid-woman-using-smartphone-at-home-picture-id1319763415?b=1&k=20&m=1319763415&s=170667a&w=0&h=J9vN7w33elL-hY1CogyTB2BzzKpiEbmPqTdsQ6fBbuI=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/good-opportunity-just-made-its-way-to-her-picture-id1284106261?b=1&k=20&m=1284106261&s=170667a&w=0&h=tT99_j-_Q7flxbpQNGPGL6fT6n7h6HokRMTkAZp_DPQ=" alt="Avatar" class="avatar">
                        <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/mother-and-little-daughter-at-home-picture-id1285783771?b=1&k=20&m=1285783771&s=170667a&w=0&h=OsGkpCBv-Y8A57lWhsoaDdC7Gqs4MyjS4gsU_I5V7HY=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/excited-black-african-american-man-having-a-video-call-on-smartphone-picture-id1311088144?b=1&k=20&m=1311088144&s=170667a&w=0&h=mKa9ih4ts9WfGAEpXVQMl7mI4V-NcbWeBg3LtPxs1nU=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/positive-woman-video-calling-using-laptop-at-home-picture-id1333405308?b=1&k=20&m=1333405308&s=170667a&w=0&h=gyLwbbUfXW6l9vNP9OEnIK2y28z7h8nN0DtQIAJFeLk=" alt="Avatar" class="avatar">
                        
                       </div>
                </div>
            </div>
            
            <div class="col-md-9 p-3">
                {% for posts in photo %}
               <div class="card card-body">
                   <div class="avatar">
                    
                    <img src="https://scontent.fnbo9-1.fna.fbcdn.net/v/t39.30808-6/p720x720/240721816_557953238586864_5850842178903416705_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeHkjYlrZGZ5UBFMTZVn99KSjPVrik0kSpeM9WuKTSRKl4r14nJ2TWHgJLbLe-mzm-4z1kw4uQ7PX1qKhy0IdNLP&_nc_ohc=04loTxhQYIYAX-tAEO0&_nc_pt=5&_nc_zt=23&_nc_ht=scontent.fnbo9-1.fna&oh=77d5b07ace1076fde33247fcdb16ae9c&oe=61B5EBE7" alt="Avatar" class="avatar">
                    <p class="p-2">{{posts.user}}</p>
                    <i class="bi bi-three-dots"></i>
                   </div>
                   <hr>
                   <img src="{{posts.image.url}}" alt="">
                   <div class="icons p-3">
                    <i id="icon" class="bi bi-heart"></i>
                    <i id="icon" class="bi bi-chat"></i>
                    <i id="icon" class="bi bi-send"></i>
                    <i id="icon" style=" display: flex; justify-content: flex-end;" class="bi bi-bookmark"></i>
                   </div>
                   <h6>{{posts.post_date}}</h6>
                   <br>
                <form class action="{% url 'like-image' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="image_id" value="{{posts.id}}">
                    {%if user not in pic.liked.all %}
                    <button class="btn btn-outline-primary" type="submit"> like </button>
                    {% else %}
                    <button class="" type="submit">like</button>
                    {% endif %}
                </form>
                <strong>{{posts.liked.all.count}}Likes</strong>
                <br>
                   <p style="font-weight: 600;">{{posts.title}}</p>
                   <p style="font-weight: 600;"></p>
                
                   
                   <hr>
                   <div class="comment">
                    <i style="font-size: 20px;" class="bi bi-emoji-smile"></i>
                    <input type="text" placeholder="add comment">
                    <h6>post</h6>
                   </div>
               </div> 
               {% endfor %}
               <br>
            </div>
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="avatar mt-4">
                     <img src="https://media.istockphoto.com/photos/positivity-puts-you-in-a-position-of-power-picture-id1299077582?b=1&k=20&m=1299077582&s=170667a&w=0&h=Esjqlg_WCWmTc83Dv6PLhwPFwYN9uXoclBn0cUhtS5I=" alt="Avatar" class="avatar">
                     <p class="p-2">Lesly</p>
                     <i class="bi bi-three-dots"></i>
                    </div>
                    <hr>
                    <img src="https://images.unsplash.com/photo-1629735215150-d988775b90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MHxSX0Z5bi1Hd3Rsd3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="icons p-3">
                     <i id="icon" class="bi bi-heart"></i>
                     <i id="icon" class="bi bi-chat"></i>
                     <i id="icon" class="bi bi-send"></i>
                     <i id="icon" style=" display: flex; justify-content: flex-end;" class="bi bi-bookmark"></i>
                    </div>
                    <h6>626 likes</h6>
                    <p style="font-weight: 600;">The best stock of images around</p>
                    <hr>
                    <div class="comment">
                     <i style="font-size: 20px;" class="bi bi-emoji-smile"></i>
                     <input type="text" placeholder="add comment">
                     <h6>post</h6>
                    </div>
                </div> 
             </div>
        </div>
    </div>
</div>
{%endblock%}